.userCardLI
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

span{
    font-weight: 500;
}

.usernameAndFromStylingP
{
    color: yellow;
}

.Linkcomponent
{
    text-decoration: none;
    color: black;
}